<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.6.0" targetFramework="net451" />
  <package id="Autofac.Configuration" version="4.0.1" targetFramework="net451" />
  <package id="Microsoft.Extensions.Configuration" version="2.0.0-preview1-final" targetFramework="net451" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="2.0.0-preview1-final" targetFramework="net451" />
  <package id="Microsoft.Extensions.Configuration.FileExtensions" version="1.1.2" targetFramework="net451" />
  <package id="Microsoft.Extensions.Configuration.Json" version="1.1.2" targetFramework="net451" />
  <package id="Microsoft.Extensions.FileProviders.Abstractions" version="1.1.1" targetFramework="net451" />
  <package id="Microsoft.Extensions.FileProviders.Physical" version="1.1.1" targetFramework="net451" />
  <package id="Microsoft.Extensions.FileSystemGlobbing" version="1.1.1" targetFramework="net451" />
  <package id="Microsoft.Extensions.Primitives" version="2.0.0-preview1-final" targetFramework="net451" />
  <package id="Microsoft.Framework.Configuration" version="1.0.0-beta8" targetFramework="net451" />
  <package id="Microsoft.Framework.Configuration.Abstractions" version="1.0.0-beta8" targetFramework="net451" />
  <package id="Microsoft.Framework.Configuration.FileExtensions" version="1.0.0-beta8" targetFramework="net451" />
  <package id="Microsoft.Framework.Configuration.Json" version="1.0.0-beta8" targetFramework="net451" />
  <package id="Microsoft.NETCore.Platforms" version="1.1.0" targetFramework="net451" />
  <package id="NETStandard.Library" version="2.0.0-preview1-25301-01" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net451" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.4.0-preview1-25305-02" targetFramework="net451" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net451" />
</packages>